.timesheet footer {
  padding: 0 0.5em;
}
.timesheet header {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media screen and (min-width: 754px) {
  .timesheet header {
    padding: 0 0.5em 0.75em 0.5em;
    visibility: visible;
    position: initial;
    top: initial;
    left: initial;
    display: grid;
    grid-template-columns: 5.5em 6.5em 10em 1fr;
    text-align: left;
  }
}