.new-entry-button {
  background-color: white;
  border: 1px dotted #999999;
  margin: 1em 0;
  width: 100%;
}
.new-entry-button:disabled {
  color: #999999;
  cursor: not-allowed;
}
.new-entry-button:not(:disabled):hover {
  color: #2c3e50;
  cursor: pointer;
  border-color: #2c3e50;
}
.title {
  font-weight: bold;
  display: inline-block;
  font-size: 1.1em;
}
p.no-data {
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #999999;
}
.time-entry {
  margin-left: -2em;
  display: grid;
  grid-template-columns: 2em minmax(5.5em, 2.25fr) minmax(6.5em, 3.25fr) minmax(10em, 5fr);
  grid-template-areas:
    "x sl el tl"
    "x s  e  t "
    "x dl .  . "
    "x d  d  d "
  ;
  margin-bottom: 1em;
}
.remove-button {
  grid-area: x;
  margin: 0;
  width: 2em;
  height: 100%;
  background-color: red;
  color: white;
  border: 1px solid red;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.start {
  grid-area: s;
}
.end {
  grid-area: e;
}
.ticket {
  grid-area: t;
}
.details {
  grid-area: d;
}
.start-label, .end-label, .ticket-label, .details-label {
  padding: 0 0.5em;
  color: #777777;
  text-align: left;
}
.start-label {
  grid-area: sl;
}
.end-label {
  grid-area: el;
}
.ticket-label {
  grid-area: tl;
}
.details-label {
  grid-area: dl;
}

@media screen and (min-width: 754px) {
	.time-entry {
		grid-template-columns: 2em 5.5em 6.5em 10em 1fr;
		grid-template-areas:
			"x s e t d"
		;
	}
	.start-label, .end-label, .ticket-label, .details-label {
		visibility: hidden;
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  .remove-button {
    opacity: 0;
  }
  .time-entry:hover > .remove-button {
    opacity: 1;
    cursor: pointer;
  }
}