.timesheet {
  transition: height 1s;
}
button {
  background-color: white;
  border: 1px dotted #999999;
  margin: 1em 0;
  width: 100%;
}
button:disabled {
  color: #999999;
  cursor: not-allowed;
}
button:not(:disabled):hover {
  color: #2c3e50;
  cursor: pointer;
  border-color: #2c3e50;
}
.timesheet footer {
  padding: 0 0.5em;
}
.title {
  font-weight: bold;
  display: inline-block;
  font-size: 1.1em;
}
.timesheet section.time-entries {
  margin-left: -2em;
}
p.no-data {
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #999999;
}
button.update-timelogs {
  background-color: hsl(134, 61%, 41%);
  color: white;
  border: 1px solid hsl(134, 61%, 41%);
}
button.update-timelogs:not(:disabled):hover {
  color: white;
  border-color: hsl(134, 61%, 36%);
  background-color: hsl(134, 61%, 36%);
}
button.update-timelogs:disabled {
  color: #999999;
  background-color: hsl(134, 61%, 60%);
  border-color: hsl(134, 61%, 60%);
}